









<main role="main" class="container">
      <div class="jumbotron">
        <h1>Conversor Certificado</h1>
        <p class="lead">Selecione o estado e importe o arquivo p7b , após isso clique em gerar</p>
        <p class="lead"> Verifique a lista de certificados, onde irá exibir os que ja foram gerados </p>

        <a href="/lista" class="btn btn-info mb-2"> Lista de Certificados Gerados </a>
       
<%= form_with(url:  "gerar" , multipart: true) do |form| %>

        <select class="form-control" id="estado" name="estado">
    <option value="AC">Acre</option>
    <option value="AL">Alagoas</option>
    <option value="AP">Amapá</option>
    <option value="AM">Amazonas</option>
    <option value="BA">Bahia</option>
    <option value="CE">Ceará</option>
    <option value="DF">Distrito Federal</option>
    <option value="ES">Espírito Santo</option>
    <option value="GO">Goiás</option>
    <option value="MA">Maranhão</option>
    <option value="MT">Mato Grosso</option>
    <option value="MS">Mato Grosso do Sul</option>
    <option value="MG">Minas Gerais</option>
    <option value="PA">Pará</option>
    <option value="PB">Paraíba</option>
    <option value="PR">Paraná</option>
    <option value="PE">Pernambuco</option>
    <option value="PI">Piauí</option>
    <option value="RJ">Rio de Janeiro</option>
    <option value="RN">Rio Grande do Norte</option>
    <option value="RS">Rio Grande do Sul</option>
    <option value="RO">Rondônia</option>
    <option value="RR">Roraima</option>
    <option value="SC">Santa Catarina</option>
    <option value="SP">São Paulo</option>
    <option value="SE">Sergipe</option>
    <option value="TO">Tocantins</option>
    <option value="EX">Estrangeiro</option>
</select>

<div class="input-group mt-3">
<%= file_field(:file, :cert)  %>
</div>

<button type="submit" class="btn btn-success mt-3">Gerar</button>

<%end%>

      </div>
    </main>